<h1>Productivity through a new lens...</h1>

<p>Greetings, <%= @first_name %>!</p>

<p> We here at LensFlare want to be the first to thank you for trusting your photo shoot management to us! Our goal is to streamline your working processes and simplify your life. While we are still a young company, we have <h3>BIG</h3> ideas. We look forward to your feedback about the site!</p>

<p>You've no doubt already found the "create a project" button. While you're at it, you can invite your collaborators to join the project(s) you create! If they're not already members they'll be added to their invited project(s) right after sign-up. What could be easier?</p>

<p><%= @first_name %>, we wish you the utmost in productivity!</p>

<p>The Staff</p>
<p><%= link_to "LensFlare", "https://lensflare.herokuapp.com/" %></p>
<p>Photo Shoot Management</p>
