<h1>Project <%= @project.project_num %></h1>

<p>
  Greetings, <%= @first_name %>!
</p>
<p>
  You have been invited to participate in Project <%= @project.project_num %> at LensFlare! After <%= link_to "sign-up", "https://lensflare.herokuapp.com/signup/#{@project_token}" %> you'll be able to view and contribute to this project!
</p>

<p>We wish you the utmost in productivity!</p>

<p>The Staff</p>
<p>LensFlare</p>
<p>Photo Shoot Management</p>
