<h1>Project <%= @project.project_num %></h1>

<p>
  Congratulations, <%= @email %>!
</p>
<p>
  <!-- #TODO change URL listed below in production environment -->
  You have been invited to participate in Project <%= @project.project_num %>. After <%= link_to "sign-up", "https://localhost:3001/SignUp" %> you'll be able to view and contribute to this project!
</p>

<p>We wish you the utmost in productivity!</p>

<p>The Staff</p>
<p>Ensemble</p>
<p>Digital Assets Management for Photo Shoots</p>
