* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

#welcome{
background-color: lightgray;

}

#actionButton {
  margin-top: 20px;
}
.createproject{
  margin-top: 20px;
}

#createproject{
    margin-top: 20px;

}
#carditems{
    padding-top: 10px;
    padding-left: 20px;
}
.invitetopmargin{
    margin-top: 20px;
}
.leftcolumn{
    background-color: lightyellow;
}
.rightcolumn{
    background-color: pink;
}

.shootSampleImage {
    max-width: 140px;
}
#logout {
  float: right;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}
