* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: #2D2D2D;
}

/*start Welcome styles*/
.welcome {
    background-image: url("../img/sunset-2218149_1920.jpg");
    background-size: cover;
    height: 100vh;
    background-position: 25% 20%;
    padding-bottom: 73vw;
    padding-top: 30px; 
    text-align: center;
}

.appName {
    font-family: 'Signika', sans-serif;
    font-size: 60px;
    /*color: black;*/
    color: white;
}

.appTagLine {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: white;
}

.signInButtonWelcome {
    margin-top: 40px; 
    background-color: transparent;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

.signUpButtonWelcome {
    margin-top: 10px;
    background-color: transparent;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

.welcomeBody {
    background-color: #0D1613;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 50px; 
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #B16503;
}

.centralData {
    padding-bottom: 30px;
}

.collaborating {
    padding-bottom: 30px;
}

.makingSelections {
    padding-bottom: 30px;
}

/*sign in and up panels*/
.modalSi, .modalSu {
    width: 50vw;
    margin: 200px auto;
}


.actionButton {
    background-color: #5EABE2;
    font-family: 'Raleway', sans-serif;
}

/*modal*/

.modal-opac {
    top: 0px !important;
    bottom: 0px !important;
    width: 100vw !important;
    height: 100vh !important; 
    overflow: hidden !important;
    overflow-y: auto !important;
    background-color: rgba(0,0,0,0.3);   
    position: absolute;
    /*bottom: 20px;*/
    /*top: 50px;*/
    /*width: 100vw;*/
    /*min-width: 300px;*/
    /*height: 50vh;*/
    /*margin-top: 5vh;*/
}

 .signup-close {
     cursor: pointer;
     cursor: hand;
 }
nav{
    display: flex;
    flex-direction: column;
}

/* Tablet */
@media screen and (min-width: 547px) {
    .nav{
        flex-direction: row;
    }
}

/*Nav*/
.headerArea {
    background-image: url("../img/fruit-1302126_1920.jpg");
    background-size: cover;
    background-position: 0% 0%;
    height: 150px;
    /*background-position: 0% 25%;*/
}

    .userHeaderArea {
        background-size: cover;
        height: 150px;
        /*background-image: url("../img/flower-1451676_1920.jpg");
        background-position: 0% 50%;*/
        /*padding-top: 30px;
        padding-bottom: 30px;*/
        /*background-image: url("../img/hiking-922985_1920.jpg");
        background-position: 0% 50%;
        padding-top: 20px;
        padding-bottom: 40px;*/
        /*background-image: url("../img/marigold1731186_1920.jpg");
        background-position: 0% 95%;
        padding-top: 20px;
        padding-bottom: 40px;*/

        background-image: url("../img/sun-493118_1920.jpg");
        background-position: 0% 60%;
        padding-top: 20px;
        padding-bottom: 40px;
    }

nav  {
    background: none !important;
    padding-top: 30px; 
    padding-bottom: 30px;
    text-align: right;
}

a.nav-item {
    /*color: #545454;*/
    color: white;
    background-color: black;
    /*text-shadow: 1px 2px 2px black;*/
    font-family: 'Raleway', sans-serif;
    font-size: 15px; 
    margin-right: 60px; 
    cursor: pointer;
    cursor: hand;
}

/*.homeNav {
    padding-left: 10px;
}*/

/*.projectNav {
    padding-left: 20px;
}*/

.allPhotosNav {
    padding-right: 30px;
}

.pager {
    padding-left: 10px;
    padding-right: 10px; 
    margin-top: 10px;
    margin-bottom: 10px; 
}

.navAdditional {
    padding-top: 5px;
    padding-bottom: 0px; 
}

.previous a {
    color: #2D2D2D;
    font-family: 'Raleway', sans-serif;
}

.backToProjectList a {
    color: #2D2D2D;
    font-family: 'Raleway', sans-serif;
}

.next a {
    color: #2D2D2D;
    font-family: 'Raleway', sans-serif;
}

/*User Projects*/
.panel-body-scroll {
    overflow: hidden;
    height: 130px;
    overflow-y: auto;
}

.projectPanelHeader{
    background-image: url("../img/background-1594712_1920.jpg");
    background-size: cover;
    height: 225px;
    overflow: hidden;
    /*overflow-y: auto;*/
}

.miniPanelHeader {
    background-image: url("../img/background-1594712_1920.jpg");
    background-size: cover;
    height: 120px;
    overflow: hidden;
}

.userProjectsPage {
    background-color: #2D2D2D;
    /*background-color: #3B424A;*/
    /*background-color: #0D0E0E;*/
}

.userHomeTitle {
    font-family: 'Signika', sans-serif;
    font-size: 75px;
    padding-bottom: 20px;
    color: #D9D9D9;
    padding-left: 20px;
}

.projectButton {
    /*margin-top: 40px; */
    background-color: transparent;
    /*height: 70px;*/
    /*width: 70px;*/
    border-radius: 0%;
    border: 2px solid #437270;
    color: #437270;
    font-weight: bold;
    padding: 2px 8px;
    margin-left: 5%;
    margin-top: 10px;
}

.projectDeleteButton {
    border: 2px solid #992104;
    color: #992104;
    /*margin-left: 30px;*/
}

.projectShootButton {
    border: 2px solid #5EABE2;
    color: #5EABE2;
}

.projectCardNavButtons {
    text-align: center;
    background-color: #0D2139 !important;

}

/*create project card*/
    .createProject {
        background-color: #2D2D2D;
    }


/*Project*/
.projectCard {
    min-height: 420px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ownerCheck {
    text-align: right;
}


.projectCardTitleBubble {
    margin-bottom: 20px;
}

.projectTitle {
    color: white;
    font-size: 30px;
    /*margin-bottom: 30px;*/
}

.bubbleText {
    display: inline-block;
    background-color: #5EABE2;
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /*border: 1px solid white;*/
    /*box-shadow: 3px 3px 10px #204978;*/
    box-shadow: 3px 3px 10px #4F95E7;
    text-align: center;
    /*padding-bottom: 30px;*/
    padding-top: 25px;
    font-style: normal !important;
    /*margin-bottom: 80px; */
    font-weight: 300;
}

.projectCompleteCheck {
    color: #ABADAD !important;
}


/*invite card invitation form*/
.inviteCard {
    background-color: #2D2D2D;
    /*color: white;*/
}

.invitePanel {
    /*margin-bottom: 40vh;*/
    /*background-image: url("../img/background-1594712_1920.jpg");*/
    background-size: cover;
}

.inviteSendButton {
    text-align: center;
}

/*edit project form*/
.editProjectCard {
    margin-top: 50%;
}

/*Photo Shoot List*/
.projectShootListPage {
    background-color: #2D2D2D;
}

h1 {
    font-family: 'Signika', sans-serif;
    font-size: 65px;
    padding-bottom: 20px;
    color: #D9D9D9;
    padding-left: 20px;
}

.projectInfoShootListPage {
    font-family: 'Raleway', sans-serif;
    color: #D9D9D9;
    padding-left: 20px;
}

.projectTitleShootList {
    color: #D9D9D9;
    font-style: italic;
    font-size: 45px;
}

.projectDescription {
    font-family: 'Raleway', sans-serif;
    color: #D9D9D9;
    padding-left: 20px;
}

.descriptionAddButtonRow {
    padding-bottom: 30px;
}

.addButton {
    /*background-color: #FEFEFE;*/
    /*background-color: #E6E6E6;*/
    background-color: #5EABE2;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

.pageInstructions {
    color: #D9D9D9;
    font-style: italic;
}

/*.photoColumn {
    background-image: url("../img/spotlight-1734718_1920.jpg");
    background-size: cover;*/
    /*background-position: 25% 20%;*/
    /*padding-bottom: 73vw;
    padding-top: 30px; 
    text-align: center;
}*/

/*QQRAGEN: come back to this and add padding! */
.cardAddInstruction {
    padding-bottom: 45vh;
    color: #D9D9D9;
}

/*project shoot mini cards*/

/*.miniCardPanel {
    height: 200px;
}*/

panel-body .projectShootMiniCardSetup {
    /*max-height: 50px;*/
    /*min-height: 50px;*/
}

.miniCardPanelBody {
    padding: 5px;
    min-height: 180px;
}

.miniCardPhotoView {
    /*width: 31vw; */
    /*min-width: 200px;*/
    /*height: initial;*/
    /*max-height: none !important;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*max-width: 18vw;*/
    max-width: 100%;
    max-height: 170px;
    width: initial;
    /*width: inherit;*/
    overflow: hidden;
    /*width: auto;*/
    /*display: inline-block;*/
    /*text-align: center;*/
}

/*.panel {
    font-family: 'Raleway', sans-serif;
}*/
.miniCardFigNMessage {
    background-image: url("../img/background-1594712_1920.jpg");
    background-size: cover;
}

/*.panel-heading {
    background-color: #D9D9D9;
}*/

.panel {
    border-radius: 0px;
}

.panel-footer {
    background-color: #D9D9D9;
}

.miniCardFooter {
    padding-bottom: 0px;
    padding-top: 5px;
    background-color: #0D2139 !important;
}

.miniCard:hover {
    color: #9E9E9D; 
}

.miniCard {
    color: #4B4B4B;
}

.commentIndicator {
    color: #0BE370;
    /*color: #5EABE2;*/
    /*color: white;*/
    text-shadow: 2px 2px 2px black;
}

/*Project Create Card*/
.projectCreateCard {
    background-color: #2D2D2D;
}

.deleteFigure {
    font-family: 'Raleway', sans-serif;
}

.saveFigure {
    font-family: 'Raleway', sans-serif;
}

/*Project Shoot Full Card*/
.editCardButton {
    background-color: #5EABE2;
    font-family: 'Raleway', sans-serif;
}

.shootSampleImage {
    max-width: 140px;
}

.btn-success {
    font-family: 'Raleway', sans-serif;
}

/*project photo collaborating*/
.projectPhotoCollaborating {
    background-color: #2D2D2D;
}

h3 {
   font-family: 'Raleway', sans-serif;
   color: #D9D9D9;
}

.figureOptions {
    color: #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.photoFrameInstructions {
    color: #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.figureResults {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #D9D9D9;
}

/*project photo collaborating photo card*/
.imagePanel {
    padding: 0px;
}

.doNotSelect {
    display: block;
    text-align: center;
}
.glyphicon-trash {
    text-align: right;
    color: red;
}

/*project all photos list */
.projectAllPhotosList {
    background-color: #2D2D2D;
}

/*project extra photos list*/
.projectExtraPhotosList {
    background-color: #2D2D2D;
}

.instructions {
    color: #D9D9D9;
    font-family: 'Raleway', sans-serif;
}

.figureResults {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.moveToFigure {
    text-align: center;
}

.moveToNewFigure {
    text-align: center;
}

/*comment box*/
.messagePost {
    background-color: #5EABE2;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.messagePost:hover {
    background-color: #90C4EB;
    color: black;
}

/*comment top-level*/
.userCommentIcon {
    padding-left: 10px;
}

/*footer*/
.footerArea {
    background-color: black;
    text-align: center;
    color: #8D8C88;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 15vw;
    /*bottom: 0;
    position: fixed;
    width: 100%;*/
}

.footerArea a {
    color: #8D8C88;
}


/*start media queries*/

/*med cell*/
@media all and (min-width: 375px) {
    /*welcome page laptop*/
    .welcome {
    background-position: 25% 20%;
    padding-bottom: 89vw;
    }

    .projectPanelHeader{
    height: 200px;
    }
}

/*tablet*/
@media all and (min-width: 768px) {
    /*welcome page tablet*/
    .welcome {
        padding-bottom: 12vw;
    }

    .appName {
        font-size: 120px;
        /*font-size: 160px;*/
        color: white;
        text-shadow: 1px 2px 2px black;
    }

    .appTagLine {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: white;
        text-shadow: 1px 2px 2px black;
    }

    .signInButtonWelcome {
        margin-top: 60px; 
        height: 100px;
        width: 100px;
        border: 3px solid white;
        font-size: 20px; 
    }

    .signUpButtonWelcome {
        margin-top: 40px;
        height: 100px;
        width: 100px;
        border: 3px solid white;
        font-size: 20px; 
    }

    nav {
        padding-top: 18px;
        padding-bottom: 50px;
    }

    .headerArea {
        background-position: 0% 25%;
    }

    .pager {
    padding-left: 50px;
    padding-right: 50px; 
    margin-top: 10px;
    margin-bottom: 20px; 
    }

    /*.miniCardPhotoView {
        max-width: 27vw;
    }*/
}

/*device*/
/*@media all and (min-width: 830px) {
    .miniCardPhotoView {
        max-width: 27vw;
    }
}*/

/*laptop*/
@media all and (min-width: 1024px) {
    /*welcome page laptop*/
    .welcome {
        padding-bottom: 14vw;
    }

    .projectPanelHeader{
    height: 150px;
    }

    /*.miniCardPhotoView {
    max-width: 17vw;
    }*/
}

/*desktop*/
@media all and (min-width: 1200px) {
    /*welcome page desktop*/
    .welcome {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 18vw;
    }

    .appName {
        font-size: 140px;
        /*font-size: 160px;*/
        color: white;
        text-shadow: 1px 2px 2px black;
    }

    .appTagLine {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 40px;
        /*color: #B16503;*/
        color: white;
        text-shadow: 1px 2px 2px black;
    }

    .welcomeButtons {
        text-align: right;
        padding-right: 200px; 
    }

    .signInButtonWelcome {
        margin-top: 60px; 
        height: 100px;
        width: 100px;
        /*border: 3px solid #B16503;*/
        border: 3px solid white;
        /*color: #B16503;*/
        color: white;
        font-size: 20px; 
    }

    .signUpButtonWelcome {
        margin-top: 40px;
        height: 100px;
        width: 100px;
       /*border: 3px solid #B16503;*/
        border: 3px solid white;
        /*color: #B16503;*/
        color: white;
        font-size: 20px; 
    }

    /*.miniCardPhotoView {
    max-width: 18vw;
    }*/
}



/*a.nav-item {
    background-color: #337ab7;
}*/
.homeNav{
    margin-left: 40px;
}
.projectNav{
    margin-left: 40px;
}